/* estilos de social sidebar - vienen de #socialsidebar y el DOM */

#socialsidebar {
    height: auto;
    margin-left: -90px;
    overflow: visible;
    position: fixed;
    text-align: center;
    top: 200px;
    width: 69px;
    z-index: 13;
	}

#socialsidebar-narrow {
	display: none;
	}

#socialsidebar img{
	border: 0;
	}
	
#socialsidebar ul {
	margin: 0;
	margin-top: 15px;
	padding-left: 13px;
	list-style-type: none;
	padding: 0px;
	background: #f1f1fc;
	}
	
#socialsidebar ul li {
    left: 5px;
    margin: 10px 0;
    overflow: visible;
    position: relative;
    text-align: center;
    width: 80%;
	}

/* facebook: CENTRATE! liver commands you! */	
.fb_share_count_wrapper {
	float: none !important;
	}

/* StumbleUpon: CENTRATE! liver commands you! */	
#suHostedBadge {
	display: block;
	margin: 0 auto;
	}

.FBConnectButton_Text {font-size: 8px;}

/**Twitter*/
#socialsidebar ul li .twitter-share-button {width:54px !important;}

/* botones like

div#ad_like_star {
	background-color: #f1f1fc;
	overflow: hidden;
	width: 67px;
	padding: 10px 0;
	margin-bottom: 15px;
	}

#ad_b_like {
	height: 64px;
	width: 80px;
	display: inline-block;
	background-image: url(images/add2bookmarks.png);
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	left: -7px;
	}

#ad_b_like:hover {
	background-position: top center !important;
	}
	
#socialsidebar ul li a.ADlike-favorite, #socialsidebar-narrow ul li a.ADlike-favorite {
	background-position: bottom center;
	}
	 */
	
/* Boton Like 2.0 */

/* Style start! */

#ad_like_star {
	background: #F1F1FC;
	width: 67px;
	height: 67px;
	position: relative;
	}
	
a.btn_like.fast-bookmark:hover, #folder-bookmark:hover {
	background-color: #a9cce5 !important;
	}
	
.fast-bookmark {
	background-repeat: no-repeat;
	height: 67px;
	display: inline-block;
	background-image: url(images/add2bookmarks.png);
	text-indent: -9999px;
	background-position: top center;
	}
	
#folder-bookmark {
	display: none;
	background: #A9CCE5;
	color: white;
	height: 65px;
	position: absolute;
	right: -20px;
	top: 0;
	padding: 0 5px;
	text-decoration: none;
	line-height: 70px;
	-moz-user-select: none;
	-khtml-user-select: none;
    user-select: none;
    border-top: 1px solid #D5D5F6;
	border-right: 1px solid #D5D5F6;
	border-bottom: 1px solid #D5D5F6;
	border-left: 1px solid #537ba7;	
cursor: pointer;
	}
	
#folder-bookmark.hover {
	display: inline-block !important;
	}
	
#folder-bookmark div#bookmarkcontainer {
	text-shadow: none !important;
	text-align: left;
	display: none;
	color: #4a4a4a;
	top: 0px;
	left: 22px;
	position: absolute;
	width: 205px;
	background: white;
	-moz-box-shadow: 0 0 3px #666;
	-webkit-box-shadow: 0 0 3px #666;
	box-shadow: 0 0 3px #CCC;
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 17px;
	-webkit-transition: all 20ms ease-in-out;
	}
	
#folder-bookmark.expanded {
	background-color: white;
	color: #0F6CB7;
	text-shadow: 1px 0 0 #0a4778;
	}

#folder-bookmark div#bookmarkcontainer ul {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 5px 0;
    max-height: 300px;
    overflow-y: scroll;
    padding: 2px 0;
	}

#folder-bookmark div#bookmarkcontainer li {
    text-align: left;
    font-size: 11px;
    padding: 5px;
    padding-right: 20px;
    margin: 3px 0;
    -webkit-transition: all 20ms ease-in-out;
	width: 160px;
	}
	
#folder-bookmark div#bookmarkcontainer li:hover {
	background: #0F6CB7;
	color: white;
	font-weight: 900;
	cursor: pointer;
	}

#folder-bookmark div#bookmarkcontainer li.nulist-yes {
	background: #D5E1EB;
	color: #444;
	font-weight: bolder;
	background-image: url('images/check-nulist.png');
	background-position: 157px 50%;
	background-repeat: no-repeat;
	}
	
#folder-bookmark div#bookmarkcontainer p {
	font-size: 10px;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0;
	padding: 8px 5px 5px 5px;
	color: #0F6CB7;
	}
	
#nulist-name {
	padding: 5px;
	margin: 5px;
	width: 150px;
	background: white;
	border: 1px solid #CCC;
	color: #444;
	}
	
a#in-nulist {
	display: block;
	background: none;
	font-size: 10px;
	font-weight: 900;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	padding: 5px;
	}
	
#in-nulist strong {
	color: #0F6CB7;
	font-weight: 900;
	font-style: normal;
	display: inline-block;
	background: #F7F7F7;
	margin-right: 5px;
	padding: 0 3px;
	}

#socialsidebar ul li.facebook{
	margin-left: 5px;
	padding-top: 5px;
}

#socialsidebar ul li.pinterest{
	margin-left: 4px;
} 